<!-- the character area for modifying, testing, and switching characters -->
<app-character> </app-character>

<mat-tab-group dynamicHeight selectedIndex="0">
  <mat-tab label="Character Detail">
    <app-character-detail> </app-character-detail>
  </mat-tab>
  <mat-tab label="Guild Info">
    <app-guild> </app-guild>
  </mat-tab>
  <mat-tab label="Spells">
    <app-spells> </app-spells>
  </mat-tab>
  <mat-tab label="Skills Browser">
    <app-skills> </app-skills>
  </mat-tab>
  <mat-tab label="Weapons Browser">
    <app-weapons> </app-weapons>
  </mat-tab>
  <mat-tab label="Armors Browser">
    <app-armors> </app-armors>
  </mat-tab>
</mat-tab-group>
